@tailwind base;
@tailwind components;
@tailwind utilities;

.broken-logo::before,
.broken-logo::after {
    content: attr(data-text) !important;
}

.broken-logo::before {
    clip-path: polygon(0 0, 60% 0, 30% 100%, 0 100%);
    left: -0.15em;
    transform: rotate(-5deg);
    top: -0.05em;
}

.broken-logo::after {
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 30% 100%);
    left: 0.15em;
    transform: rotate(5deg);
    top: 0.05em;
}
